<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>HELL Management</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css"/>
   
   <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
    crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light
    {{#ifEquals user.type 'user'}}navbar-user{{/ifEquals}}
    {{#ifEquals user.type 'approver'}}navbar-approver{{/ifEquals}}
    {{#ifEquals user.type 'analyst'}}navbar-analyst{{/ifEquals}}
    ">
      <a class="navbar-brand" href="/">HELL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
     {{#if hideNav}}<div class="d-none">{{/if}}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{#ifEquals page 'home'}}active{{/ifEquals}}">
            <a class="nav-link" href="/">Home</a>
          </li>
          {{!-- <li class="nav-item">
            <a class="nav-link" href="#">Messages (0)</a>
          </li> --}}
          {{#ifEquals user.type 'user'}}
            <li class="nav-item {{#ifEquals page 'create-application'}}active{{/ifEquals}}">
              <a class="nav-link" href="/create-application">Create Application</a>
            </li>
             {{/ifEquals}}
          <li class="nav-item {{#ifEquals page 'view-applications'}}active{{/ifEquals}}">
            <a class="nav-link" href="/view-applications">View Applications</a>
          </li>
        </ul>
        <span class="dropdown nav-item">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img class="mr-2" src="/img/profile.png" height="40" />{{user.first_name}} {{user.last_name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:100%">
            <a class="dropdown-item" href="/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </span>
      </div>
     </div>
      
    </nav>
    {{#if alert}}
      <div class="text-center alert alert-{{alert.type}}" role="alert">
        {{alert.message}}
      </div>
    {{/if}}
    <div class="container">
       {{{body}}}
    </div>
  </body>
</html>
